<div class="header-container">
    <div class="button button-recommendations" routerLink="recommendations" routerLinkActive="active">AANBEVELINGEN</div>
    <div class="button button-bookings" routerLink="bookings" routerLinkActive="active">BOEKINGEN</div>
    <div class="user-picture">
        <div class="picture" routerLink="home"></div>
    </div>
    <div class="button button-information" routerLink="information" routerLinkActive="active">GEGEVENS</div>
    <div class="button button-settings" routerLink="settings" routerLinkActive="active">INSTELLINGEN</div>
</div>