<div class="header-container">
    <div class="button button-recommendations" routerLink="recommendations" routerLinkActive="active">Aanbevelingen</div>
    <div class="button button-bookings" routerLink="bookings" routerLinkActive="active">Boekingen</div>
    <div class="user-picture">
        <div class="picture" routerLink="home"></div>
    </div>
    <div class="button button-information" routerLink="information" routerLinkActive="active">Gegevens</div>
    <div class="button button-settings" routerLink="settings" routerLinkActive="active">Instellingen</div>
</div>