<div class="container">
    <div class="main-image-background">
        <div class="text-box">
            <div class="main-image-text">
                <div class="back">
                    <a href="./"><div class="back-button"></div></a>
                </div>
                <h1 class="main-image-text-title">WAT GA JE VANDAAG DOEN?</h1>
                <span class="element">q</span>
                <hr>
                <h3 class="main-image-text-subtitle">KIES HIERONDER DE CATEGORIE WAAROVER U MEER WILT WETEN</h3>
            </div>
        </div>
    </div>

     <table class="table" id="myTable" class="table">
        <thead>
            <tr>
                 <th>Item1</th>
                 <th>Item2</th>
                 <th>Item3</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of buildArr(items);let i = index">
                <td *ngFor="let item of row">{{item.name}}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="block">
            <span class="restaurant-name">CULTUUR</span>
            <div class="popup">
                <a href="./"><div class="call-to-action phone"></div></a>
                <span class="restaurant-name-hover"><b>CULTUUR</b><br />MUSEUMS ETC</span>
            </div>
        </div>
        <div class="block">
            <span class="restaurant-name">SPORTACTIVITEITEN</span>
            <div class="popup">
                <a href="./"><div class="call-to-action phone"></div></a>
                <span class="restaurant-name-hover"><b>SPORTACTIVITEITEN</b><br />IN DE NABIJE OMGEVING</span>
            </div>
        </div>
        <div class="block">
            <span class="restaurant-name">DINEREN</span>
            <div class="popup">
                <a href="./"><div class="call-to-action phone"></div></a>
                <span class="restaurant-name-hover">LEKKER DENEREN</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="block">
            <span class="restaurant-name">CULTUUR</span>
            <div class="popup">
                <span class="restaurant-name-hover"><b>CULTUUR</b><br />MUSEUMS ETC</span>
            </div>
        </div>
        <div class="block">
            <span class="restaurant-name">SPORTACTIVITEITEN</span>
            <div class="popup">
                <span class="restaurant-name-hover"><b>SPORTACTIVITEITEN</b><br />IN DE NABIJE OMGEVING</span>
            </div>
        </div>
        <div class="block">
            <span class="restaurant-name">DINEREN</span>
            <div class="popup">
                <span class="restaurant-name-hover">LEKKER DENEREN</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="block">
            <span class="restaurant-name">CULTUUR</span>
            <div class="popup">
                <span class="restaurant-name-hover"><b>CULTUUR</b><br />MUSEUMS ETC</span>
            </div>
        </div>
        <div class="block">
            <span class="restaurant-name">SPORTACTIVITEITEN</span>
            <div class="popup">
                <span class="restaurant-name-hover"><b>SPORTACTIVITEITEN</b><br />IN DE NABIJE OMGEVING</span>
            </div>
        </div>
        <div class="block">
            <span class="restaurant-name">DINEREN</span>
            <div class="popup">
                <span class="restaurant-name-hover">LEKKER DENEREN</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="block">
            <span class="restaurant-name">CULTUUR</span>
            <div class="popup">
                <span class="restaurant-name-hover"><b>CULTUUR</b><br />MUSEUMS ETC</span>
            </div>
        </div>
        <div class="block">
            <span class="restaurant-name">SPORTACTIVITEITEN</span>
            <div class="popup">
                <span class="restaurant-name-hover"><b>SPORTACTIVITEITEN</b><br />IN DE NABIJE OMGEVING</span>
            </div>
        </div>
        <div class="block">
            <span class="restaurant-name">DINEREN</span>
            <div class="popup">
                <span class="restaurant-name-hover">LEKKER DENEREN</span>
            </div>
        </div>
    </div>
</div>