<div class="container">
    <div class="main-image-background">
        <div class="text-box">
            <span class="main-image-title write">ZOEK HIER UW PERSOONELIJK AANBOD</span>
            <h5 class="main-image-subtitle">KIES HIERONDER DE CATEGORIE WAAROVER U MEER WILT WETEN</h5>
        </div>
    </div>

    <div class="row">
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
    </div>
    <div class="row">
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
    </div>
    <div class="row">
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
    </div>
    <div class="row">
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
    </div>
</div>