<div class="container">
    <div class="main-image-background">
        <div class="text-box">
            <div class="main-image-text">
                <div class="back">
                    <a href="./"><div class="back-button"></div></a>
                </div>
                <h1 class="main-image-text-title">WAT GA JE VANDAAG DOEN?<span>|</span></h1>
                <span class="element"></span>
                <hr>
                <h3 class="main-image-text-subtitle">KIES HIERONDER DE CATEGORIE WAAROVER U MEER WILT WETEN</h3>
            </div>
        </div>
    </div>

    <div class="row" *ngFor="let row of theArr;let i = index">
        <div class="block" (click)="rescale($event)" [style.backgroundImage]="'url('+ item.imgUrl +')'" *ngFor="let item of row">
            <span class="restaurant-name">{{item.title | uppercase}}</span>
            <div class="popup">
                <a [routerLink]="'activities/' + item.id"><div class="call-to-action phone"></div></a>
                <span class="restaurant-name-hover"><b>{{item.title | uppercase}}</b><br />{{item.subtitle | uppercase}}</span>
            </div>
        </div>
    </div>
</div>