.map{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -100;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: filter 0.5s, -webkit-filter 0.5s;

    &.blurred{
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
}