$orange-light: #F6DDC7;
$orange-medium: #EFBB90;
$orange-default: #E6995A; 
$orange-dark: #DF772B; 

$green-light: #E7ECD2;
$green-medium: #CFD8A6;
$green-default: #B7C57A;
$green-dark: #9FB250;

$pale-light: #FEFCFB;
$pale-medium: #FCF8F7;
$pale-default: #FBF5F3;
$pale-dark: #FAF2EF;

$purple-light: #D3CED1;
$purple-medium: #A79CA3;
$purple-default: #7A6B74;
$purple-dark: #4D3A46;