.review-component{
    float: left;
    width: 100%;

    .user-picture{
        float: left;;
        left: 0; top: 0;
        width: 60px; height: 60px;
        margin: 10px;
        border-radius: 50%;

        .thumb{
            width: 40px;
            height: 40px;
            position: relative;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius:50%;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;

            &.positive{
                background-image: url('../../../images/icons/thumb-green.svg');
            }

            &.negative{
                background-image: url('../../../images/icons/thumb-red.svg');
            }
        }
    }

    .rating{
        float: left;
        top: 0;
        margin:10px;
    }

    .text{
        width: 100%;
        display: inline-block;
        color: black;
    }
}