<div class="details-component">
    <div class="section head-image">
        <div class="previous-icon" (click)="goBack()"></div>
        <div class="quote">{{details.quote}}</div>
        <div class="calls-to-action">
            Reserveren
            <a [href]="'tel:' + details.phone"><div class="button phone"></div></a>
            <div (click)="openWebpage()" class="button website"></div>
            <div (click)="openMaps()" class="button route"></div>
        </div>
    </div>
    <div class="section text-and-image">
        <div class="text">
            <h1>{{details.name}}</h1>
            <br>
            {{details.text}}
        </div>
        <div class="image"></div>
    </div>
    <div class="section reviews">
        <div *ngFor="let review of details.reviews" class="review-container"><review [review]="review"></review></div>
    </div>
    <div class="section directions-and-contact">
        <div class="directions"></div>
        <div class="contact">
            contact
        </div>
    </div>
</div>