<div class="details-component">
    <div class="section head-image">
        <div class="previous-icon" (click)="goBack()"></div>
        <div class="quote"><strong>{{details.quote | uppercase}}</strong></div>
        <div class="quote-submitter">HARRIE LASHKOV, 32 JAAR</div>
        <div class="calls-to-action">
            RESERVEREN:
            <a [href]="'tel:' + details.phone"><div class="button phone"></div></a>
            <div (click)="openWebpage()" class="button website"></div>
            <div (click)="openMaps()" class="button route"></div>
        </div>
    </div>
    <div class="section text-and-image">
        <div class="text">
            <h1 class="activity-name">{{details.name | uppercase}}</h1>
            <br>
            <p class="activity-description">{{details.text}}</p>
        </div>
        <div class="image"></div>
    </div>
    <div class="section reviews">
        <div *ngFor="let review of details.reviews" class="review-container">
            <review [review]="review"></review>
        </div>
    </div>
    <div class="section directions-and-contact">
        <div class="directions"></div>
        <div class="contact">
            contact
        </div>
    </div>
</div>