@import '../../../../styles/colors.scss';

.restaurant{
    cursor: pointer;
    margin: 10px 50px;
    max-height: 60px;
    font-size: 22pt;
    overflow: hidden;
    transition: max-height 0.5s;

    &.selected{
        max-height: 110px;
    }

    .ranking{
        font-weight: 700;
    }

    .score{
        height: 60px;
        font-weight: 200;
        border: 1px solid $offwhite;
        box-sizing: border-box;
    }

    .details{
        padding-top: 10px;
        font-size: 12pt;
    }
}