<div class="restaurant" [class.selected]="selected">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 ranking">{{data.rank}}</div>
            <div class="col-xs-8 name">{{data.name}}</div>
            <div class="col-xs-2 score">{{data.score}} %</div>
        </div>
        <div class="row details">
            <div class="col-xs-2">Cuisine: </div>
            <div class="col-xs-6">{{data.cuisine}}</div>
            <div class="col-xs-4" style="text-align: right">
                <span (click)="showRestaurantOnMap(data.id)" class="glyphicon glyphicon-chevron-right"> </span>
            </div>
        </div>
    </div>
</div>